<div class="col-md-6" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-4">
        <div class="ships">
            <div class="ships4"  ng-click="takeShip(4)"  ng-class="{takedShip: takedShip == 4}">
                <span ng-repeat="item in range(4) track by $index" class="cell shipCell"></span>
                <span class="shipCount">x{{yourShips[4]}}</span>
            </div>
            <div class="ships3" ng-click="takeShip(3)"  ng-class="{takedShip: takedShip == 3}">
                <span ng-repeat="item in range(3) track by $index" class="cell shipCell"></span>
                <span class="shipCount">x{{yourShips[3]}}</span>
            </div>
            <div class="ships2" ng-click="takeShip(2)"  ng-class="{takedShip: takedShip == 2}">
                <span ng-repeat="item in range(2) track by $index" class="cell shipCell"></span>
                <span class="shipCount">x{{yourShips[2]}}</span>
            </div>
            <div class="ships1"  ng-click="takeShip(1)" ng-class="{takedShip: takedShip == 1}">
                <span ng-repeat="item in range(1) track by $index" class="cell shipCell"></span>
                <span class="shipCount">x{{yourShips[1]}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table>
            <thead>
                <tr>
                    <th ng-repeat="letterHeader in lettersHeader" class="cell" ng-class="{'bottom-bordered': $index != 0}">
                        {{letterHeader}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="digitHeader in digitsHeader" class="cell">
                    <td class="right-bordered">{{digitHeader}}</td>
                    <td ng-repeat="item in digitsHeader" class="right-bordered top-bordered bottom-bordered left-bordered cell"
                        ng-class="{'hovered': hoveredCells[$parent.$index][$index] == 1}"
                            ng-mouseenter="takeShipHover($parent.$index, $index)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6">
    <table>
        <thead>
        <tr>
            <th ng-repeat="letterHeader in lettersHeader" class="cell" ng-class="{'bottom-bordered': $index != 0}">
                {{letterHeader}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="digitHeader in digitsHeader" class="cell">
            <td class="right-bordered">{{digitHeader}}</td>
            <td ng-repeat="item in enemyField[$index] track by $index" class="right-bordered top-bordered bottom-bordered left-bordered cell fieldCell"
                ng-click="damage($event, $parent.$index, $index)" ng-class="{'damaged': item == 1}">

            </td>
        </tr>
        </tbody>
    </table>
</div>