<div class="login panel panel-default" ng-controller="LoginCtrl">
    <h3 class="text-center">Вход</h3>
    <form  role="form" class="form-horizontal form-group panel-body" >
        <table >
            <tr>
                <td ><label for="name" class="text-right"> Логин</label></td>
                <td class="deleteRightPadding">
                    <input type="text" id="name" class="form-control" ng-model="login.email"/>
                </td>
            </tr>
            <tr>
                <td ><label for="password" class="text-right"> Пароль</label></td>
                <td class="deleteRightPadding">
                    <input type="password" id="password" class="form-control" ng-model="login.password"/>
                </td>
            </tr>
            <tr>
                <td ></td>

                <td><button class="btn btn-primary" type="submit" ng-click="SignIn()">Войти</button></td>

            </tr>
</div>