/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.cell{
  width: 30px;
  height: 30px;
  text-align: center;
}

.fieldCell:hover{
  background-color: #dddddd;
}

.right-bordered{
  border-right: 1px solid #000000;
}

.bottom-bordered{
  border-bottom: 1px solid #000000;
}

.top-bordered{
  border-top: 1px solid #000000;
}

.left-bordered{
  border-left: 1px solid #000000;
}

.damaged{
  background-color: red;
}

.attacked{
  background-color: blue;
}

.shipCell {
  display: inline-block;
  background-color: royalblue;
  width: 20px;
  height: 20px;
}

.ships{
  padding-top: 2em;
}

.shipCount {
  font-size: 15px;
}

.takedShip .shipCell{
  background-color: blue;
}

.hovered{
  background-color: blue;
}

.isShip {
  background-color: gray;
}

.disabledSelect .shipCell{
  background-color: lightblue;
}

.cantPut{
  background-color: red;
}

.killed{
  background-color: #000000;
}

.ready_button{
  margin-top: 10px;
}

.header > h1{
  font-family: Courgette;
  src: url(fonts/Courgette-Regular.ttf);
}


.login{
  padding: 10px;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  box-shadow: 0px 0px 20px 1px darkgray;
}

.login .btn,
.registration .btn{
  margin-top: 5px;
}

.registration{
  padding: 10px;
  width: 300px;
  height: 370px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -150px;
  box-shadow: 0px 0px 20px 1px darkgray;
}

.registration table td{
  padding: 2px 35px 2px 2px;
  text-align: right;

}

td.deleteRightPadding, .deleteRightPadding{
  padding-right: 0;
}


.toolbar {
  border-right: 2px solid #BBBBBB;
}

.new-game {
  position: absolute;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
  min-height: 330px;
  left: 50%;
  // margin-top: 5%;
  margin-left: -150px;
  box-shadow: 0px 0px 20px 1px darkgray;
}

.user{
  padding: 3px 3px 3px 10px;
  height: 25px;
  margin-bottom: 2px;
  position: relative;
  left: -10px;
  width: 298px;
  cursor: pointer;
}

.user:hover{
  background-color: #eeeeee;
}


.user span{
  padding-left: 20px;
}

.new-game .btn{
  position: absolute;
  bottom: 30px;
}


.inviteYou{
  color: red;
}


.glyphicon{
  padding-left: 10px;
}

.glyphicon.glyphicon-remove{
  color: red;
  cursor: pointer;
}

.glyphicon.glyphicon-ok{
  color: green;
  cursor: pointer;
}

.alert-danger, .alert-success {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-top: -20px;
}

.nickname{
  color: blue;
  font-weight: 600;
}


.glyphicon-refresh{
  color: #000000;
  cursor: pointer;
}